.start-btn{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.start-btn:hover{
    background-color: rgb(98, 52, 168);
}
.download-btn{
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.download-btn:hover{
    background-color: rgb(108, 117, 125);
    color: white;
}

